.grid {
  outline: 7px solid blue;
  margin: 30px 150px 20px;
  background-color: white;
}

.button {
  margin-top: 20px;
  background-color: #1abc9c;
  font-weight: 300;
  font-size: large;
  outline: 1px solid white;
  margin-left: 15px;
}

.Logo {
  text-align: left;
  margin-left: 140px;
  font-size: xx-large;
  text-decoration: underline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.row {
  margin: 20px;
}

.DropDown {
  text-align: left;
  margin-top: 15px;
  margin-left: 140px;
  font-size: x-large;
}
.head {
  background-color: #34495e;
}

.options {
  background-color: #34495e;
  font-size: large;
  color: white;
  margin-left: 10px;
}

.label {
  color: white;
}
